# Data Sience Project - Task 4

### Spark with Clustering (task 3 in spark)

In [1]:
import findspark
findspark.init()

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('clustering_in_spark').getOrCreate()

#### Read data from csv

In [3]:
df=spark.read.csv('Hotels_data_Changed.csv',inferSchema=True,header=True)

In [4]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Snapshot ID: integer (nullable = true)
 |-- Snapshot Date: timestamp (nullable = true)
 |-- Checkin Date: timestamp (nullable = true)
 |-- Days: integer (nullable = true)
 |-- Original Price: integer (nullable = true)
 |-- Discount Price: integer (nullable = true)
 |-- Discount Code: integer (nullable = true)
 |-- Available Rooms: integer (nullable = true)
 |-- Hotel Name: string (nullable = true)
 |-- Hotel Stars: integer (nullable = true)
 |-- DayDiff: integer (nullable = true)
 |-- WeekDay: string (nullable = true)
 |-- DiscountDiff: integer (nullable = true)
 |-- DiscountPerc: double (nullable = true)

## 4.a

In [5]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import DateType, IntegerType
from pyspark.sql.functions import desc

#### Get the 150 hotels with maximum records

In [6]:
# group by hotel name and count,with sortig 
hotel_names = df.groupBy('Hotel Name').count().sort(desc('count')).limit(150)

In [7]:
hotel_names

DataFrame[Hotel Name: string, count: bigint]

#### Get list of the first (max) 150 hotels

In [ ]:
maxHotel_names = hotel_names.toPandas()['Hotel Name'].tolist()

In [ ]:
maxHotel_names

['Newark Liberty International Airport Marriott',
 'Hilton Garden Inn Times Square',
 'Residence Inn Newark Elizabeth Liberty International Airport',
 'Westin New York at Times Square',
 'Loews Regency New York Hotel',
 'Viceroy New York',
 'Four Seasons Hotel New York',
 'Langham Place New York Fifth Avenue',
 'The Carlyle A Rosewood Hotel',
 'DoubleTree by Hilton Metropolitan - New York City',
 'Magnuson Convention Center Hotel',
 'Hilton Garden Inn New York West 35th Street',
 'Hilton Garden Inn New York-Times Square Central',
 'Conrad New York',
 'Wyndham Garden Brooklyn Sunset Park',
 'Hilton Newark Airport',
 'Omni Berkshire Place',
 'Hilton Times Square',
 'Park Hyatt New York',
 'Homewood Suites by Hilton NY Midtown Manhattan Times Square',
 'Grand Hyatt New York',
 'The Plaza Hotel',
 'Quality Inn Woodside',
 'Hyatt Union Square New York',
 'Le Parker Meridien New York',
 'The New York EDITION',
 'W New York - Union Square',
 'Renaissance Newark Airport Hotel',
 'Hampton Inn New York - 35th Street - Empire State Building',
 'The Lexington New York City Autograph Collection',
 'The Roosevelt Hotel New York City',
 'Hilton Garden Inn New York Midtown Park Ave',
 'McCarren Hotel & Pool',
 'Cassa Hotel 45th Street',
 'Hyatt Herald Square New York',
 'Martha Washington',
 'W New York Times Square',
 'Hyatt Place New York Midtown South',
 'DoubleTree by Hilton Hotel Newark Airport',
 'Hampton Inn Manhattan United Nations',
 'Millenium Hilton',
 'Hampton Inn Madison Square Garden Area Hotel',
 'The Towers of the Waldorf Astoria New York',
 'Smyth A Thompson Hotel',
 'DoubleTree by Hilton New York City - Chelsea',
 'DoubleTree by Hilton New York City - Financial District',
 'Hampton Inn Manhattan Soho',
 'Hilton Garden Inn New York Manhattan-Midtown East',
 'Hampton Inn Manhattan Downtown-Financial District',
 'Red Carpet Inn New York City',
 'Hampton Inn Manhattan Times Square Central',
 'Hilton Garden Inn New York Central Park South-Midtown West',
 'Andaz 5th Avenue - a concept by Hyatt',
 'Hilton Garden Inn New York Manhattan-Chelsea',
 'Gild Hall A Thompson Hotel',
 'Hilton Manhattan East',
 'Waldorf Astoria New York',
 'Sheraton New York Times Square Hotel',
 'Hampton Inn Manhattan-Seaport-Financial District',
 'Fairfield Inn by Marriott LaGuardia Airport Flushing',
 'W New York - Downtown',
 'Hilton New York Fashion District',
 'Hyatt Times Square New York',
 'Hampton Inn Manhattan Times Square South',
 'New York Marriott at the Brooklyn Bridge',
 'New York Marriott Downtown',
 'Hilton Garden Inn New York Long Island City',
 'Manhattan NYC-an Affinia hotel',
 'The Muse Hotel a Kimpton Hotel',
 'New York Hilton Midtown',
 'W New York',
 'Andaz Wall Street - a concept by Hyatt',
 'United Nations Apartment Hotel',
 'The Westin New York Grand Central',
 'The Peninsula New York',
 'NOMO SOHO',
 'Home2 Suites by Hilton NY Long Island City Manhattan View',
 'The Standard East Village',
 'DoubleTree Suites by Hilton New York City - Times Square',
 'SpringHill Suites by Marriott Newark Liberty International',
 'Eventi Hotel a Kimpton Hotel',
 'Hampton Inn New York Chelsea',
 'Comfort Inn Times Square South Area',
 'The Pearl New York',
 'DoubleTree by Hilton Hotel New York - Times Square South',
 'The Chatwal a Luxury Collection Hotel New York City',
 'Howard Johnson Inn Jamaica JFK Airport NYC',
 'Hampton Inn & Suites Staten Island',
 'Howard Johnson Flushing',
 'Ramada Long Island City',
 'SIXTY Lower East Side',
 'Courtyard by Marriott New York Manhattan SoHo',
 'Best Western Bayside Inn',
 'Quality Inn Convention Center',
 'Courtyard by Marriott New York Manhattan Times Square',
 'Sheraton LaGuardia East Hotel',
 'The Premier Hotel New York',
 'Hampton Inn JFK Airport',
 'Radisson Martinique on Broadway',
 'GEM Hotel - Chelsea an Ascend Hotel Collection Member',
 'Residence Inn by Marriott New York Manhattan Midtown East',
 'Holiday Inn New York JFK Airport Area',
 'The High Line Hotel',
 'Courtyard by Marriott New York City Manhattan Fifth Avenue',
 'New York Marriott East Side',
 'The SunBright',
 'Hampton Inn Times Square North',
 'Shelburne NYC-an Affinia hotel',
 'Wyndham Garden - Manhattan Chelsea West',
 'The Lombardy',
 'Wyndham Garden Long Island City Manhattan View',
 'Best Western Plus Newark Airport West',
 'Best Western Plus Arena Hotel',
 'Bentley Hotel',
 'ink48 hotel a Kimpton Hotel',
 'Courtyard by Marriott New York Manhattan Upper East Side',
 'Howard Johnson Bronx Near Stadium',
 'Embassy Suites Newark Airport',
 'Hotel 48LEX New York',
 'Hilton Garden Inn Tribeca',
 'Residence Inn New York The Bronx At Metro Center Atrium',
 'Hyatt Place Flushing LaGuardia Airport',
 'San Carlos Hotel',
 'The Roger',
 'Wyndham New Yorker',
 'Roxy Hotel Tribeca (formerly the Tribeca Grand Hotel)',
 'Courtyard Newark Elizabeth',
 'Best Western Bowery Hanbee Hotel',
 'The St. Regis New York',
 'Crowne Plaza Times Square Manhattan',
 'Hudson New York Central Park',
 'Hampton Inn New York - LaGuardia Airport',
 'Wyndham Garden Chinatown',
 'Courtyard New York Manhattan Times Square West',
 'The Kitano New York',
 'Aloft Harlem',
 'Super 8 Brooklyn   Park Slope Hotel',
 'Baccarat Hotel and Residences New York',
 'The Mark',
 'The Out NYC',
 'Chelsea Inn',
 'Courtyard by Marriott New York Manhattan   Central Park',
 'Hilton New York JFK Airport',
 'Blakely New York',
 'Days Inn Bronx Near Stadium',
 'The Benjamin',
 'The Shoreham Hotel',
 'Jet Luxury at the Trump SoHo',
 'TRYP By Wyndham Times Square South',
 'Dumont NYC-an Affinia hotel']

#### Adding and filtering the other features

In [ ]:
hotels_data = df.filter(col('Hotel Name').isin(maxHotel_names)).distinct()

#### Check

In [ ]:
hotels_data

DataFrame[_c0: int, Snapshot ID: int, Snapshot Date: timestamp, Checkin Date: timestamp, Days: int, Original Price: int, Discount Price: int, Discount Code: int, Available Rooms: int, Hotel Name: string, Hotel Stars: int, DayDiff: int, WeekDay: string, DiscountDiff: int, DiscountPerc: double]

In [ ]:
hotels_data.show()

+----+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+---------+------------+------------------+
| _c0|Snapshot ID|      Snapshot Date|       Checkin Date|Days|Original Price|Discount Price|Discount Code|Available Rooms|          Hotel Name|Hotel Stars|DayDiff|  WeekDay|DiscountDiff|      DiscountPerc|
+----+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+---------+------------+------------------+
| 168|          1|2015-07-17 00:00:00|2015-08-10 00:00:00|   5|          1193|          1102|            1|             -1|Hampton Inn Manha...|          3|     24|   Monday|          91| 7.627829002514669|
| 179|          1|2015-07-17 00:00:00|2015-08-19 00:00:00|   5|          1500|          1415|            1|             -1|Courtyard by Marr...|          4|     33|Wednesday|          85| 5.666666666666666|
| 986|          1|2015-07-17 00:00:00|2015-08-19 00:00:00|   5|          1466|          1393|            4|             -1|Omni Berkshire Place|          5|     33|Wednesday|          73| 4.979536152796726|
|1012|          1|2015-07-17 00:00:00|2015-08-09 00:00:00|   5|          1834|          1782|            4|              5|Gild Hall A Thomp...|          5|     23|   Sunday|          52|2.8353326063249726|
|1255|        101|2015-08-16 00:00:00|2015-09-09 00:00:00|   5|          2825|          2565|            1|             14|Smyth A Thompson ...|          5|     24|Wednesday|         260|  9.20353982300885|
|1259|        101|2015-08-16 00:00:00|2015-08-25 00:00:00|   5|           925|           850|            1|             14|Magnuson Conventi...|          2|      9|  Tuesday|          75| 8.108108108108109|
|1781|        101|2015-08-16 00:00:00|2015-09-07 00:00:00|   5|          4145|          3745|            3|             26|Loews Regency New...|          5|     22|   Monday|         400| 9.650180940892641|
|1872|        101|2015-08-16 00:00:00|2015-09-18 00:00:00|   5|          2016|          1876|            3|             -1|Hilton Garden Inn...|          4|     33|   Friday|         140| 6.944444444444445|
|2079|        101|2015-08-16 00:00:00|2015-09-17 00:00:00|   5|          1995|          1875|            3|             -1|Cassa Hotel 45th ...|          4|     32| Thursday|         120| 6.015037593984962|
|2683|        108|2015-08-17 00:00:00|2015-08-25 00:00:00|   5|          1605|          1440|            2|            170|The Westin New Yo...|          4|      8|  Tuesday|         165|  10.2803738317757|
|3252|        108|2015-08-17 00:00:00|2015-09-05 00:00:00|   5|          2114|          1402|            3|             -1|Hampton Inn Manha...|          3|     19| Saturday|         712|33.680227057710496|
|3806|         11|2015-07-22 00:00:00|2015-07-31 00:00:00|   5|          2217|          2073|            2|             13|W New York - Unio...|          5|      9|   Friday|         144| 6.495263870094722|
|3844|         11|2015-07-22 00:00:00|2015-08-04 00:00:00|   5|          1194|           897|            2|             -1|Newark Liberty In...|          4|     13|  Tuesday|         297| 24.87437185929648|
|3999|         11|2015-07-22 00:00:00|2015-08-12 00:00:00|   5|          2304|          2247|            2|              1|Smyth A Thompson ...|          5|     21|Wednesday|          57| 2.473958333333333|
|4022|         11|2015-07-22 00:00:00|2015-08-21 00:00:00|   5|           800|           738|            2|             -1|Ramada Long Islan...|          2|     30|   Friday|          62|              7.75|
|4121|         11|2015-07-22 00:00:00|2015-07-25 00:00:00|   5|          3900|          3600|            3|              7| Park Hyatt New York|          5|      3| Saturday|         300|7.6923076923076925|
|4122|         11|2015-07-22 00:00:00|2015-07-28 00:00:00|   5|          3900|          3600|            3|              7| Park Hyatt New York|          5|      6|  Tuesday|         300|7.6923076923076925|
|4132|         11|2015-07-22 00:00:00|2015-08-11 00:00:00|   5|          3763|          3455|            3|             39| Park Hyatt New York|          5|     20|  Tuesday|         308| 8.184958809460536|
|4251|         11|2015-07-22 00:00:00|2015-08-25 00:00:00|   5|          1186|          1134|            3|             48|Hyatt Herald Squa...|          4|     34|  Tuesday|          52|4.3844856661045535|
|4547|         11|2015-07-22 00:00:00|2015-08-20 00:00:00|   5|          1248|          1141|            4|             -1|Hampton Inn Manha...|          3|     29| Thursday|         107| 8.573717948717949|
+----+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+---------+------------+------------------+
only showing top 20 rows

## 4.b

#### Get the 40 hotels with maximum checkin dates

In [ ]:
# group by checkin and count, with sorting
checkin = hotels_data.groupBy('Checkin Date').count().sort(desc('count')).limit(40)

In [ ]:
checkin.show()

+-------------------+-----+
|       Checkin Date|count|
+-------------------+-----+
|2015-11-11 00:00:00| 2302|
|2015-10-14 00:00:00| 1887|
|2015-11-04 00:00:00| 1885|
|2015-08-19 00:00:00| 1883|
|2015-10-28 00:00:00| 1861|
|2015-10-21 00:00:00| 1817|
|2015-11-06 00:00:00| 1808|
|2015-08-12 00:00:00| 1765|
|2015-11-05 00:00:00| 1684|
|2015-10-22 00:00:00| 1662|
|2015-11-12 00:00:00| 1649|
|2015-10-29 00:00:00| 1623|
|2015-09-10 00:00:00| 1623|
|2015-09-09 00:00:00| 1616|
|2015-11-18 00:00:00| 1582|
|2015-08-26 00:00:00| 1559|
|2015-11-10 00:00:00| 1548|
|2015-11-13 00:00:00| 1547|
|2015-10-15 00:00:00| 1473|
|2015-11-21 00:00:00| 1469|
+-------------------+-----+
only showing top 20 rows

#### get list of the first (max) 40 checkin dates

In [ ]:
maxCheckin = checkin.toPandas()['Checkin Date'].tolist()

In [ ]:
maxCheckin

[Timestamp('2015-11-11 00:00:00'),
 Timestamp('2015-10-14 00:00:00'),
 Timestamp('2015-11-04 00:00:00'),
 Timestamp('2015-08-19 00:00:00'),
 Timestamp('2015-10-28 00:00:00'),
 Timestamp('2015-10-21 00:00:00'),
 Timestamp('2015-11-06 00:00:00'),
 Timestamp('2015-08-12 00:00:00'),
 Timestamp('2015-11-05 00:00:00'),
 Timestamp('2015-10-22 00:00:00'),
 Timestamp('2015-11-12 00:00:00'),
 Timestamp('2015-10-29 00:00:00'),
 Timestamp('2015-09-10 00:00:00'),
 Timestamp('2015-09-09 00:00:00'),
 Timestamp('2015-11-18 00:00:00'),
 Timestamp('2015-08-26 00:00:00'),
 Timestamp('2015-11-10 00:00:00'),
 Timestamp('2015-11-13 00:00:00'),
 Timestamp('2015-10-15 00:00:00'),
 Timestamp('2015-11-21 00:00:00'),
 Timestamp('2015-09-30 00:00:00'),
 Timestamp('2015-10-30 00:00:00'),
 Timestamp('2015-09-16 00:00:00'),
 Timestamp('2015-09-17 00:00:00'),
 Timestamp('2015-11-28 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('2015-11-26 00:00:00'),
 Timestamp('2015-09-11 00:00:00'),
 Timestamp('2015-09-18 00:00:00'),
 Timestamp('2015-10-16 00:00:00'),
 Timestamp('2015-11-27 00:00:00'),
 Timestamp('2015-10-02 00:00:00'),
 Timestamp('2015-10-07 00:00:00'),
 Timestamp('2015-11-07 00:00:00'),
 Timestamp('2015-08-28 00:00:00'),
 Timestamp('2015-08-27 00:00:00'),
 Timestamp('2015-10-27 00:00:00'),
 Timestamp('2015-11-03 00:00:00'),
 Timestamp('2015-08-13 00:00:00'),
 Timestamp('2015-11-25 00:00:00')]

#### Adding and filtering the other features

In [ ]:
hotelsCheckin = hotels_data.filter(col('Checkin Date').isin(maxCheckin)).distinct()

#### Check

In [ ]:
hotelsCheckin

DataFrame[_c0: int, Snapshot ID: int, Snapshot Date: timestamp, Checkin Date: timestamp, Days: int, Original Price: int, Discount Price: int, Discount Code: int, Available Rooms: int, Hotel Name: string, Hotel Stars: int, DayDiff: int, WeekDay: string, DiscountDiff: int, DiscountPerc: double]

In [ ]:
hotelsCheckin= hotelsCheckin.groupBy('Hotel name','Checkin Date', 'Discount Code').min('Discount Price')

In [ ]:
hotelsCheckin.show()

## 4.c

#### We need to take for each checkin the 4 prices for the 4 discount codes, for this we need to make a new table and do join with the table that we already have

In [ ]:
#the unique hotels name
names=hotelsCheckin.select('Hotel Name').distinct().collect()

In [ ]:
#the unique hotels name- list
namesList= [(row['Hotel Name']) for row in names]

In [ ]:
namesList

In [ ]:
#the unique checking date
checkins=hotelsCheckin.select('Checkin Date').distinct().collect()

In [ ]:
#the unique checking date- list
checkinsList= [(row['Checkin Date']) for row in checkins]

In [ ]:
checkinsList

In [ ]:
#the unique discount code
uniqueCode= [1,2,3,4]

#### Build the table that will help us insert the 4 codes for each checkin

In [ ]:
helpTable=[]
for x in namesList:
    for y in checkinsList:
        for z in uniqueCode:
            helpTable.append([x, y ,z,-1])

In [ ]:
len(checkinsList)

#### Making the schema for dataframe

In [ ]:
from pyspark.sql.types import *
import numpy as np

In [ ]:
dfSchema = StructType([StructField("Hotel Name", StringType()),StructField("Checkin Date", DateType()),StructField("Discount Code",  IntegerType()),StructField("min(Discount Price)", LongType())])

#### Creating spark dataframe

In [ ]:
s_df= spark.createDataFrame(helpTable, schema=dfSchema)

In [ ]:
s_df.groupby(['Hotel name','Checkin Date','Discount Code']).count().show()

In [ ]:
s_df.count()

#### Filter from dataframe that we already have only :Hotel Name, Checkin Date, Discount Code, Discount Price

In [ ]:
#hotels_df=hotelsCheckin.select('Hotel Name', 'Checkin Date','Discount Code', 'Discount Price')

In [ ]:
#hotels_df.groupby(['Hotel Name', 'Checkin Date','Discount Code']).count().show()

#### Union the dataframe with the table that we build

In [ ]:
all_df=hotelsCheckin.union(s_df)

In [ ]:
all_df.show()

In [ ]:
alldf=all_df.groupby(['Hotel Name','Checkin Date','Discount Code']).max('min(Discount Price)')

In [ ]:
#alldf.show(n=1000)

In [ ]:
alldf

#### Group by to order the details

In [ ]:
#all_df = all_df.groupBy('Hotel name','Checkin Date', 'Discount Code').min('Discount Price')

In [ ]:
#all_df.show()

#### Partition data by hotel name

In [ ]:
#all_dfparts=alldf.repartition("Hotel name")

## 4.d

#### Split to two groups:  with price  -1,  without -1(the others)

In [ ]:
groupMinus = alldf.filter(col('max(min(Discount Price))') == -1)
groupWithout = alldf.filter(col('max(min(Discount Price))') > -1)

### Normalization

In [ ]:
groupWithout.createOrReplaceTempView("normalization")

#### Creating SQLContext for SQL converting

In [ ]:
from pyspark.sql import SQLContext
from pyspark.sql.window import Window
import pyspark.sql.functions as func

In [ ]:
sqlContext = SQLContext(spark)

#### Preparing data for normalization

In [ ]:
dataFrame = sqlContext.table("normalization")

In [ ]:
#Partioning data for groups so we can applay function on groups
windowSpec = Window.partitionBy(groupWithout['Hotel name'])

### Normalize function

In [ ]:
normalize =  ((dataFrame['max(min(Discount Price))'] - func.min(dataFrame['max(min(Discount Price))']).over(windowSpec)) / (func.max(dataFrame['max(min(Discount Price))']).over(windowSpec) - func.min(dataFrame['max(min(Discount Price))']).over(windowSpec)) * 100)

In [ ]:
normalized = dataFrame.select(
  dataFrame['Hotel Name'],
  dataFrame['Checkin Date'],
  dataFrame['Discount Code'],
  normalize.alias("Normal"))

#### Getting back the values -1

In [ ]:
#Changing column name for same schema
groupMinus = groupMinus.withColumnRenamed('max(min(Discount Price))','Normal')

#### Union all data frames with sorting

In [ ]:
normalized = normalized.union(groupMinus)
normalized = normalized.orderBy(['Hotel name','Checkin Date','Discount Code'])

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.ml.linalg import Vectors,VectorUDT
from pyspark.ml.linalg import SparseVector, DenseVector

In [ ]:
to_vector = udf(lambda a: Vectors.dense(a), VectorUDT())

In [ ]:
normalList = normalized.groupBy('Hotel name').agg(F.collect_list('Normal').alias("features"))

In [ ]:
#normal_toList.collect()

In [ ]:
normalList.rdd.map(lambda x: len(x[1])).collect()

In [ ]:
import pandas as pd
columns=['Hotel Name']
for i in range(1,161):
    columns.append(i)
df = pd.DataFrame(normalList.rdd.map(lambda x: [x[0]] + x[1]).take(150), columns=columns)

## 4.e

#### We received dataframe that each line represents one hotel and has 161 columns - one for the hotel name and 160 for the normalized prices

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [ ]:
#featuresCols = [str(i) for i in range(1,161)]

In [ ]:
#featuresCols

In [ ]:
#vec_assembler= VectorAssembler(inputCols=featuresCols,outputCol='features')

In [ ]:
df['Hotel Name'].count()

## 4.f

#### Drawing the dendrogram

In [ ]:
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
from itertools import islice 
from matplotlib import pyplot as plt

#### if we have in data frame nan replace in -1 (for check)

In [ ]:
df=df.fillna(-1)

#### Insert to dist linkage - the table only values (without hotelnames)  ,uses the Ward variance minimization algorithm- algorithm 'word'

In [ ]:
dist = linkage(df.iloc[:, 1:],'ward')
type(dist)
#how classes and how hotels
dist.shape

#### Drawing -dendrogram

In [ ]:
plt.figure(figsize=(20,10))
plt.title('Hierarchical Clustering')
plt.ylabel('Distance')
dendrogram(dist, labels=df['Hotel Name'].tolist(), leaf_rotation=90,leaf_font_size=8)
plt.show()